USE [master]
GO
/****** Object:  Database [GpsApi]    Script Date: 05/04/2026 2:27:15 CH ******/
CREATE DATABASE [GpsApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GpsApi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GpsApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GpsApi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GpsApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GpsApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [GpsApi]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/04/2026 2:27:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoiMedia]    Script Date: 05/04/2026 2:27:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoiMedia](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PoiId] [nvarchar](64) NOT NULL,
	[MediaType] [tinyint] NOT NULL,
	[LanguageTag] [nvarchar](10) NULL,
	[Url] [nvarchar](1000) NOT NULL,
	[MimeType] [nvarchar](50) NULL,
	[FileSizeBytes] [bigint] NULL,
	[DurationMs] [int] NULL,
	[SortOrder] [int] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_PoiMedia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoiNarration]    Script Date: 05/04/2026 2:27:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoiNarration](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PoiId] [nvarchar](64) NOT NULL,
	[EventType] [tinyint] NOT NULL,
	[LanguageTag] [nvarchar](10) NOT NULL,
	[NarrationText] [nvarchar](4000) NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_PoiNarration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoiPlaybackLog]    Script Date: 05/04/2026 2:27:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoiPlaybackLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PoiId] [nvarchar](64) NOT NULL,
	[EventType] [tinyint] NOT NULL,
	[FiredAtUtc] [datetime2](3) NOT NULL,
	[DeviceId] [nvarchar](64) NULL,
	[DistanceMeters] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pois]    Script Date: 05/04/2026 2:27:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pois](
	[Id] [nvarchar](64) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[RadiusMeters] [int] NOT NULL,
	[NearRadiusMeters] [int] NOT NULL,
	[DebounceSeconds] [int] NOT NULL,
	[CooldownSeconds] [int] NOT NULL,
	[Priority] [int] NULL,
	[MapLink] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[NarrationText] [nvarchar](4000) NULL,
	[AudioUrl] [nvarchar](1000) NULL,
	[ImageUrl] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[RowVer] [timestamp] NOT NULL,
	[Geo]  AS ([geography]::Point([Latitude],[Longitude],(4326))) PERSISTED,
 CONSTRAINT [PK_Pois] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PoiMedia_PoiType]    Script Date: 05/04/2026 2:27:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_PoiMedia_PoiType] ON [dbo].[PoiMedia]
(
	[PoiId] ASC,
	[MediaType] ASC,
	[IsPrimary] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_PoiNarration_Key]    Script Date: 05/04/2026 2:27:15 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PoiNarration_Key] ON [dbo].[PoiNarration]
(
	[PoiId] ASC,
	[EventType] ASC,
	[LanguageTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PlaybackLog_PoiTime]    Script Date: 05/04/2026 2:27:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_PlaybackLog_PoiTime] ON [dbo].[PoiPlaybackLog]
(
	[PoiId] ASC,
	[FiredAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pois_ActivePriority]    Script Date: 05/04/2026 2:27:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_Pois_ActivePriority] ON [dbo].[Pois]
(
	[IsActive] ASC,
	[Priority] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PoiMedia] ADD  CONSTRAINT [DF_PoiMedia_Sort]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[PoiMedia] ADD  CONSTRAINT [DF_PoiMedia_Primary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[PoiMedia] ADD  CONSTRAINT [DF_PoiMedia_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[PoiNarration] ADD  CONSTRAINT [DF_PoiNarration_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[PoiNarration] ADD  CONSTRAINT [DF_PoiNarration_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[PoiPlaybackLog] ADD  DEFAULT (sysutcdatetime()) FOR [FiredAtUtc]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_Radius]  DEFAULT ((120)) FOR [RadiusMeters]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_NearRadius]  DEFAULT ((220)) FOR [NearRadiusMeters]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_Debounce]  DEFAULT ((3)) FOR [DebounceSeconds]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_Cooldown]  DEFAULT ((30)) FOR [CooldownSeconds]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PoiMedia]  WITH CHECK ADD  CONSTRAINT [FK_PoiMedia_Pois] FOREIGN KEY([PoiId])
REFERENCES [dbo].[Pois] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PoiMedia] CHECK CONSTRAINT [FK_PoiMedia_Pois]
GO
ALTER TABLE [dbo].[PoiNarration]  WITH CHECK ADD  CONSTRAINT [FK_PoiNarration_Pois] FOREIGN KEY([PoiId])
REFERENCES [dbo].[Pois] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PoiNarration] CHECK CONSTRAINT [FK_PoiNarration_Pois]
GO
ALTER TABLE [dbo].[PoiPlaybackLog]  WITH CHECK ADD  CONSTRAINT [FK_PlaybackLog_Pois] FOREIGN KEY([PoiId])
REFERENCES [dbo].[Pois] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PoiPlaybackLog] CHECK CONSTRAINT [FK_PlaybackLog_Pois]
GO
ALTER TABLE [dbo].[Pois]  WITH CHECK ADD  CONSTRAINT [CK_Pois_Latitude] CHECK  (([Latitude]>=(-90) AND [Latitude]<=(90)))
GO
ALTER TABLE [dbo].[Pois] CHECK CONSTRAINT [CK_Pois_Latitude]
GO
ALTER TABLE [dbo].[Pois]  WITH CHECK ADD  CONSTRAINT [CK_Pois_Longitude] CHECK  (([Longitude]>=(-180) AND [Longitude]<=(180)))
GO
ALTER TABLE [dbo].[Pois] CHECK CONSTRAINT [CK_Pois_Longitude]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SIDX_Pois_Geo]    Script Date: 05/04/2026 2:27:15 CH ******/
CREATE SPATIAL INDEX [SIDX_Pois_Geo] ON [dbo].[Pois]
(
	[Geo]
)USING  GEOGRAPHY_AUTO_GRID 
WITH (
CELLS_PER_OBJECT = 12, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
