USE [master]
GO
/****** Object:  Database [GpsApi]    Script Date: 12/04/2026 5:29:48 CH ******/
CREATE DATABASE [GpsApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GpsApi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GpsApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GpsApi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GpsApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GpsApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GpsApi]
GO
/****** Object:  Table [dbo].[HistoryPoi]    Script Date: 12/04/2026 5:29:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryPoi](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPoi] [int] NOT NULL,
	[IdUser] [uniqueidentifier] NOT NULL,
	[PoiName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LastVisitedAt] [datetime2](3) NOT NULL,
	[TotalDurationSeconds] [int] NULL,
 CONSTRAINT [PK_HistoryPoi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TopPois]    Script Date: 12/04/2026 5:29:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================================================
-- PHẦN 3: TẠO VIEWS ĐỂ BÁO CÁO THỐNG KÊ
-- ==============================================================================
CREATE VIEW [dbo].[vw_TopPois]
AS
SELECT
    h.IdPoi,
    h.PoiName,
    SUM(h.Quantity)                            AS TotalVisits,
    COUNT(DISTINCT h.IdUser)                   AS UniqueVisitors,
    AVG(CAST(h.TotalDurationSeconds AS float)) AS AvgDurationSeconds
FROM dbo.HistoryPoi h
GROUP BY h.IdPoi, h.PoiName;
GO
/****** Object:  View [dbo].[vw_AvgPoiDuration]    Script Date: 12/04/2026 5:29:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_AvgPoiDuration]
AS
SELECT
    h.IdPoi,
    h.PoiName,
    AVG(CAST(h.TotalDurationSeconds AS float))          AS AvgDurationSeconds,
    AVG(CAST(h.TotalDurationSeconds AS float)) / 60.0   AS AvgDurationMinutes,
    SUM(h.Quantity)                                      AS TotalVisits
FROM dbo.HistoryPoi h
WHERE h.TotalDurationSeconds IS NOT NULL
GROUP BY h.IdPoi, h.PoiName;
GO
/****** Object:  Table [dbo].[PoiLanguage]    Script Date: 12/04/2026 5:29:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoiLanguage](
	[IdLang] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPoi] [int] NOT NULL,
	[LanguageTag] [nvarchar](10) NOT NULL,
	[TextToSpeech] [nvarchar](4000) NULL,
 CONSTRAINT [PK_PoiLanguage] PRIMARY KEY CLUSTERED 
(
	[IdLang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoiMedia]    Script Date: 12/04/2026 5:29:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoiMedia](
	[Idm] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPoi] [int] NOT NULL,
	[Image] [nvarchar](1000) NULL,
	[MapLink] [nvarchar](1000) NULL,
	[Audio] [nvarchar](1000) NULL,
 CONSTRAINT [PK_PoiMedia] PRIMARY KEY CLUSTERED 
(
	[Idm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pois]    Script Date: 12/04/2026 5:29:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pois](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[RadiusMeters] [int] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[CooldownSeconds] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[Geo]  AS ([geography]::Point([Latitude],[Longitude],(4326))) PERSISTED,
 CONSTRAINT [PK_Pois] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/04/2026 5:29:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Mail] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_Users_Mail] UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_History_Poi]    Script Date: 12/04/2026 5:29:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_History_Poi] ON [dbo].[HistoryPoi]
(
	[IdPoi] ASC,
	[LastVisitedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_History_User]    Script Date: 12/04/2026 5:29:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_History_User] ON [dbo].[HistoryPoi]
(
	[IdUser] ASC,
	[LastVisitedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_PoiLanguage_Key]    Script Date: 12/04/2026 5:29:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PoiLanguage_Key] ON [dbo].[PoiLanguage]
(
	[IdPoi] ASC,
	[LanguageTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PoiMedia_Poi]    Script Date: 12/04/2026 5:29:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_PoiMedia_Poi] ON [dbo].[PoiMedia]
(
	[IdPoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pois_Active]    Script Date: 12/04/2026 5:29:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_Pois_Active] ON [dbo].[Pois]
(
	[IsActive] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistoryPoi] ADD  CONSTRAINT [DF_HistoryPoi_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[HistoryPoi] ADD  CONSTRAINT [DF_HistoryPoi_LastVisitedAt]  DEFAULT (sysutcdatetime()) FOR [LastVisitedAt]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_RadiusMeters]  DEFAULT ((120)) FOR [RadiusMeters]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_CooldownSeconds]  DEFAULT ((30)) FOR [CooldownSeconds]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Pois] ADD  CONSTRAINT [DF_Pois_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserId]  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HistoryPoi]  WITH CHECK ADD  CONSTRAINT [FK_HistoryPoi_Pois] FOREIGN KEY([IdPoi])
REFERENCES [dbo].[Pois] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoryPoi] CHECK CONSTRAINT [FK_HistoryPoi_Pois]
GO
ALTER TABLE [dbo].[HistoryPoi]  WITH CHECK ADD  CONSTRAINT [FK_HistoryPoi_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[HistoryPoi] CHECK CONSTRAINT [FK_HistoryPoi_Users]
GO
ALTER TABLE [dbo].[PoiLanguage]  WITH CHECK ADD  CONSTRAINT [FK_PoiLanguage_Pois] FOREIGN KEY([IdPoi])
REFERENCES [dbo].[Pois] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PoiLanguage] CHECK CONSTRAINT [FK_PoiLanguage_Pois]
GO
ALTER TABLE [dbo].[PoiMedia]  WITH CHECK ADD  CONSTRAINT [FK_PoiMedia_Pois] FOREIGN KEY([IdPoi])
REFERENCES [dbo].[Pois] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PoiMedia] CHECK CONSTRAINT [FK_PoiMedia_Pois]
GO
ALTER TABLE [dbo].[Pois]  WITH CHECK ADD  CONSTRAINT [CK_Pois_Latitude] CHECK  (([Latitude]>=(-90) AND [Latitude]<=(90)))
GO
ALTER TABLE [dbo].[Pois] CHECK CONSTRAINT [CK_Pois_Latitude]
GO
ALTER TABLE [dbo].[Pois]  WITH CHECK ADD  CONSTRAINT [CK_Pois_Longitude] CHECK  (([Longitude]>=(-180) AND [Longitude]<=(180)))
GO
ALTER TABLE [dbo].[Pois] CHECK CONSTRAINT [CK_Pois_Longitude]
GO
/****** Object:  StoredProcedure [dbo].[RecordPoiVisit]    Script Date: 12/04/2026 5:29:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4.2 Hàm ghi nhận lịch sử khách ghé thăm (Cập nhật IdPoi thành kiểu INT)
CREATE PROCEDURE [dbo].[RecordPoiVisit]
(
    @IdPoi           int,
    @IdUser          uniqueidentifier,
    @PoiName         nvarchar(200),
    @DurationSeconds int = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Pois  WHERE Id = @IdPoi)
        THROW 50010, 'POI does not exist.', 1;
    IF NOT EXISTS (SELECT 1 FROM dbo.Users WHERE UserId = @IdUser)
        THROW 50011, 'User does not exist.', 1;

    MERGE dbo.HistoryPoi AS target
    USING (SELECT @IdPoi AS IdPoi, @IdUser AS IdUser) AS src
        ON  target.IdPoi  = src.IdPoi
        AND target.IdUser = src.IdUser
    WHEN MATCHED THEN
        UPDATE SET
            Quantity             = target.Quantity + 1,
            LastVisitedAt        = SYSUTCDATETIME(),
            TotalDurationSeconds = ISNULL(target.TotalDurationSeconds, 0) + ISNULL(@DurationSeconds, 0)
    WHEN NOT MATCHED THEN
        INSERT (IdPoi, IdUser, PoiName, Quantity, LastVisitedAt, TotalDurationSeconds)
        VALUES (@IdPoi, @IdUser, @PoiName, 1, SYSUTCDATETIME(), @DurationSeconds);
END
GO
/****** Object:  StoredProcedure [dbo].[UpsertPoiLanguage]    Script Date: 12/04/2026 5:29:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================================================
-- PHẦN 4: TẠO STORED PROCEDURES
-- ==============================================================================

-- 4.1 Hàm thêm mới hoặc cập nhật Ngôn ngữ (Cập nhật cho PoiLanguage mới)
CREATE PROCEDURE [dbo].[UpsertPoiLanguage]
(
    @IdPoi        int,
    @LanguageTag  nvarchar(10),
    @TextToSpeech nvarchar(4000) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@IdPoi IS NULL OR @IdPoi <= 0)
        THROW 50001, 'IdPoi must be a valid positive integer.', 1;

    IF (@LanguageTag IS NULL OR LTRIM(RTRIM(@LanguageTag)) = N'')
        THROW 50002, 'LanguageTag is required.', 1;

    IF NOT EXISTS (SELECT 1 FROM dbo.Pois WHERE Id = @IdPoi)
        THROW 50003, 'POI does not exist. Please create the POI first.', 1;

    MERGE dbo.PoiLanguage AS target
    USING (SELECT @IdPoi AS IdPoi, @LanguageTag AS LanguageTag) AS src
        ON  target.IdPoi       = src.IdPoi
        AND target.LanguageTag = src.LanguageTag
    WHEN MATCHED THEN
        UPDATE SET
            TextToSpeech = ISNULL(@TextToSpeech, target.TextToSpeech)
    WHEN NOT MATCHED THEN
        INSERT (IdPoi, LanguageTag, TextToSpeech)
        VALUES (@IdPoi, @LanguageTag, @TextToSpeech);
END
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SIDX_Pois_Geo]    Script Date: 12/04/2026 5:29:49 CH ******/
CREATE SPATIAL INDEX [SIDX_Pois_Geo] ON [dbo].[Pois]
(
	[Geo]
)USING  GEOGRAPHY_AUTO_GRID 
WITH (
CELLS_PER_OBJECT = 12, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
